table {
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    width: 100%;
}
td, th {
    border: 1px solid #cccccc;
    padding: 10px;
}
th {
    font-weight: bold;
    text-transform: uppercase;
}
.myButton {
    margin-left: 400px;
    padding: 20px;
}
.myButton button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:25px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:22px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton button:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.myButton button:active {
	position:relative;
	top:1px;
}
