body {
    margin: 0;
    padding: 0;
}
.border1 {
    height: 600px;
    border: 1px black solid;
}
.border1 img {
    margin-left: 40% ;
}
.border1 h1 {
text-align: center;
font-size: 30px;
}
.currency {
    display: block;
    margin-left: 40%;
    padding-top: 20px;
}